<div ng-controller="detailberita as vm">
	<div class="form-group">
		<label class="control-label">ID Berita</label>
		<input type="text" ng-model="vm.id" name="id_berita" id="id_berita" class="form-control" disabled>
	</div>
	<div class="form-group">
		<label class="control-label">Judul Berita</label>
		<input type="text" ng-model="vm.judul" name="judul_berita" id="judul_berita" class="form-control" disabled>
	</div>
	<div class="form-group">
		<label class="control-label">Deskripsi Berita</label>
		<input type="text" ng-model="vm.deskripsi" name="deskripsi_berita" id="deskripsi_berita" class="form-control" disabled>
	</div>
<div>